html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background: skyblue;
}

.login-form-wrapper, .dashborad-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #eee !important;
}

.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading, .checkbox {
  margin-bottom: 30px;
  text-align: center;
}

.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.greeting {
  margin-right: 20px;
}

.logout {
  margin-left: 20px;
}

.product-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

tr {
  text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.btns-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}